[submodule "WebAssemblyDemo/Vendor/assimp"]
	path = WebAssemblyDemo/Vendor/assimp
	url = https://github.com/assimp/assimp.git
    branch = master
[submodule "WebAssemblyDemo/Vendor/glad"]
	path = WebAssemblyDemo/Vendor/glad
	url = https://github.com/Dav1dde/glad.git
    branch = c
[submodule "WebAssemblyDemo/Vendor/glfw"]
	path = WebAssemblyDemo/Vendor/glfw
	url = https://github.com/glfw/glfw.git
    branch = master
[submodule "WebAssemblyDemo/Vendor/glm"]
	path = WebAssemblyDemo/Vendor/glm
	url = https://github.com/g-truc/glm.git
    branch = master
[submodule "WebAssemblyDemo/Vendor/stb"]
	path = WebAssemblyDemo/Vendor/stb
	url = https://github.com/nothings/stb.git
    branch = master
[submodule "WebAssemblyDemo/Vendor/bullet"]
	path = WebAssemblyDemo/Vendor/bullet
	url = https://github.com/bulletphysics/bullet3.git
    branch = master
